* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
body {
    background-image: linear-gradient(rgba(233,214,236,1), rgba(232,204,191,1), rgba(207,185,165,1));
    background-color: rgba(232,204,191,1);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
   
}

.header {
    padding: 30px;
    margin: 0px;
    border: 0px;
    font-size: 30px;
    background-color: rgba(129,150,143,1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1{
    margin: 0;
}


.topnav {
    float: right;
}
 .header nav {
     font-size: 20px;
 }

 .row {
     display: flex;
     padding: 10px;
    
 }

 .columnleft {
    position: fixed;

 }
 
 #about,#work,#contact,p {
     text-align: center;
 }

.columnmiddle,img {
    display: flex;
    
}
.kitten:hover {
       border: 5px solid rgba(150,189,198,1);
}

.contact {
   display: flex;
   text-align: center;
   justify-content: space-between;
}

.details {
    list-style: none;
    display: flex;
}

.details,li {
    
    
}

footer {
    padding-left: 30px;
    text-align: center;
    
}

/*i just finished setting up the first two columns, next we need to style the footer and set media queries and create a read me next*/