* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
body {
    background-image: linear-gradient(rgba(233,214,236,1), rgba(232,204,191,1), rgba(207,185,165,1));
    background-color: rgba(232,204,191,1);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
   
}

.header {
    padding: 30px;
    margin: 0px;
    border: 0px;
    font-size: 30px;
    background-color: rgba(129,150,143,1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1{
    margin: 0;
}


.topnav {
    float: right;
}
 .header nav {
     font-size: 20px;
 }

 .row {
     display: flex;
     padding: 10px;
    
 }

 .columnleft {
    position: fixed;

 }
 
 #about,#work,#contact,p {
     text-align: center;
 }

.columnmiddle {
    display: block;
    
}

.mainkitten {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: space-between;
    align-items: flex-start;
}

.kitten {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
}

.kitten:hover {
    
    border: 5px solid rgba(150,189,198,1);
}

.contact {
   display: block;
   text-align: center;
   justify-content: space-between; 
}
h2 {
    align-items: center;
}


li {
    display: inline-flex;  
     
}

footer {
    padding-left: 30px;
    text-align: center;
    
}
.details {
    list-style: none;
    display: inline;
    
}

  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    
  }
  


/*i just finished setting up the first two columns, next we need to style the footer and set media queries and create a read me next*/